<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light dark" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<link rel="stylesheet" href="./style.css" />
		<title>Ultimate Fight Predictor</title>
	</head>
	<body class="container">
		<nav>
			<ul>
				<li><strong>UFP</strong></li>
			</ul>
			<ul id="nav-ul">
				<li><a class="contrast" href="#fighter-inputs">Predict</a></li>
				<li><a class="contrast" href="#history">History</a></li>
				<li>
					<a
						class="contrast"
						onclick="document.getElementById('help-modal').showModal();"
						>Help</a
					>
				</li>
			</ul>
		</nav>

		<main class="container" id="app" v-cloak>
			<div id="parse-div" v-if="isState('Parse') || isState('isParsing')">
				<div id="fighters-inputs-parse" class="grid">
					<div class="container-fluid" id="blue-side">
						<div id="blue-top-part" class="grid">
							<input
								v-if="!blueLinkError"
								type="url"
								name="bluelink"
								placeholder="Blue Fighter Tapology Link"
								aria-label="Url"
								id="blue-fighter-link-input"
								v-model="bFighter['link']"
							/>
							<input
								v-else-if="errors.blink_empty"
								type="url"
								name="bluelink"
								placeholder="Enter a link!"
								aria-label="Url"
								id="blue-fighter-link-input"
								v-model="bFighter['link']"
								aria-invalid="true"
							/>
							<input
								v-else-if="errors.blink"
								type="url"
								name="bluelink"
								placeholder="Enter a valid tapology link!"
								aria-label="Url"
								id="blue-fighter-link-input"
								v-model="bFighter['link']"
								aria-invalid="true"
							/>
							<img src="./imgs/blue-boxer.png" id="blue-boxer-img" />
						</div>
						<form>
							<fieldset role="group" id="blue-odds">
								<label for="blueodds" class="inner-labels" />Odds:
								<input
									v-if="!blueOddsError"
									type="text"
									name="blueodds"
									id="blue-odds-input"
									placeholder="Blue Odds(American)"
									aria-label="number"
									v-model="bFighter['odds']"
								/>
								<input
									v-else-if="errors.bodds"
									type="text"
									name="blueodds"
									id="blue-odds-input"
									placeholder="Enter proper American betting odds!"
									aria-label="number"
									aria-invalid="true"
									v-model="bFighter['odds']"
								/>
							</fieldset>
						</form>
					</div>
					<div class="container-fluid" id="red-side">
						<div id="red-top-part" class="top-part">
							<img src="./imgs/red-boxer.png" id="red-boxer-img" />
							<input
								type="url"
								name="redlink"
								placeholder="Red Fighter Tapology Link"
								aria-label="Url"
								id="red-fighter-link-input"
								v-model="rFighter['link']"
								v-if="!redLinkError"
							/>
							<input
								v-else-if="errors.rlink_empty"
								type="url"
								name="redlink"
								placeholder="Enter a link!"
								aria-label="Url"
								id="red-fighter-link-input"
								v-model="rFighter['link']"
								aria-invalid="true"
							/>
							<input
								v-else-if="errors.rlink"
								type="url"
								name="redlink"
								placeholder="Enter a valid tapology link!"
								aria-label="Url"
								id="red-fighter-link-input"
								v-model="rFighter['link']"
								aria-invalid="true"
							/>
						</div>
						<form id="red-odds">
							<fieldset role="group">
								<label for="redodds" class="inner-labels" />Odds:
								<input
									v-if="!redOddsError"
									type="text"
									name="redodds"
									placeholder="Red Odds(American)"
									aria-label="Text"
									id="red-fighter-odds-input"
									v-model="rFighter['odds']"
								/>
								<input
									v-else
									type="text"
									name="redodds"
									placeholder="Enter proper American betting odds!"
									aria-label="Text"
									id="red-fighter-odds-input"
									v-model="rFighter['odds']"
									aria-invalid="true"
								/>
							</fieldset>
						</form>
					</div>
					<!-- end of fighter-inputs div below -->
				</div>
				<div class="container" id="button-container">
					<button
						class="contrast"
						id="parse-button"
						v-on:click="parseButtonClickHandler"
						v-if="isState('Parse')"
					>
						Parse Fighter Information
					</button>
					<button
						v-if="isState('isParsing')"
						aria-busy="true"
						aria-label="Please wait…"
						class="contrast"
					>
						Parsing Information
					</button>
				</div>
			</div>
			<div
				id="predict"
				v-else-if="isState('Predict') || isState('DonePredict') || isState('isPredicting') "
			>
				<div id="fighters-inputs" class="grid">
					<div
						class="container"
						id="blue-side"
						:style="{
        						'border-style': blueWin ? 'solid' : 'none',
        						'border-color': blueWin ? 'gold' : 'red'
    							}"
					>
						<div id="blue-top-part" class="grid">
							<input
								v-if="!errors.bnamebad"
								type="text"
								name="text"
								placeholder="Invalid name. Enter a non number string"
								aria-label="Text"
								id="blue-fighter-name-input"
								v-model="bFighter['name']"
							/>
							<input
								v-else
								type="text"
								name="text"
								placeholder="Blue Fighter Name"
								aria-label="Text"
								id="blue-fighter-name-input"
								v-model="bFighter['name']"
								aria-invalid="true"
							/>
							<img
								src="./imgs/blue-boxer.png"
								id="blue-boxer-img"
								:style="{
        						'transform': redWin ? 'rotate(-0.25turn)' : 'rotate(0)',
    							}"
							/>
						</div>

						<div id="blue-img-container">
							<div
								class="blue-image-div"
								:style="{
        						'background-image': blueWin ? 'linear-gradient(gold, black)' : 'linear-gradient(blue, black)'
    							}"
								v-if="isState('Predict') || isState('DonePredict') || isState('isPredicting')  "
							>
								<img
									v-bind:src="bFighter.image_link"
									v-if="isState('Predict') || isState('DonePredict') || isState('isPredicting') "
									id="blue-image"
								/>
							</div>
						</div>
						<form>
							<label for="bluewins" class="predict-label" />Wins: Losses:
							<fieldset role="group" id="blue-record">
								<input
									v-if="!blueWinsError"
									type="text"
									name="bluewins"
									placeholder="Wins"
									aria-label="Number"
									id="bWins"
									v-model="bFighter['wins']"
								/>
								<input
									v-else-if="errors.bwinsnegative = 1"
									type="text"
									name="bluewins"
									placeholder="Wins must be non-negative whole number"
									aria-label="Number"
									id="bWins"
									v-model="bFighter['wins']"
									aria-invalid="true"
								/>
								<input
									v-if="!blueLossesError"
									type="text"
									name="bluelosses"
									placeholder="Losses"
									aria-label="Text"
									id="bLosses"
									v-model="bFighter['losses']"
								/>
								<input
									v-else
									type="text"
									name="bluelosses"
									placeholder="Losses must be non-negative whole number"
									aria-label="Text"
									id="bLosses"
									v-model="bFighter['losses']"
									aria-invalid="true"
								/>
							</fieldset>
						</form>
						<form>
							<label
								for="blueheight"
								class="predict-label"
								id="height"
							/>Height(cm): Reach(cm):
							<fieldset role="group" id="blue-height-reach">
								<input
									v-if="!blueHeightError"
									type="text"
									name="blueheight"
									placeholder="Height(cm)"
									aria-label="Text"
									id="bHeight"
									v-model="bFighter['height']"
								/>
								<input
									v-else
									type="text"
									name="blueheight"
									placeholder="Height can not be empty or less than 0"
									aria-label="Text"
									id="bHeight"
									v-model="bFighter['height']"
									aria-invalid="true"
								/>
								<input
									v-if="!blueReachError"
									type="text"
									name="text"
									placeholder="Reach(cm)"
									aria-label="Text"
									id="bReach"
									v-model="bFighter['reach']"
								/>
								<input
									v-else
									type="text"
									name="text"
									placeholder="Reach can not be empty or less than 0"
									aria-label="Text"
									id="bReach"
									v-model="bFighter['reach']"
									aria-invalid="true"
								/>
							</fieldset>
						</form>
						<form>
							<label for="bluestreak" class="inner-labels" id="odds" />Streak:
							Odds:
							<fieldset role="group" id="blue-streak-odds">
								<input
									v-if="!blueStreakError"
									type="text"
									name="bluestreak"
									placeholder="Streak"
									aria-label="Number"
									id="blue-streak-input"
									v-model="bFighter['streak']"
								/>
								<input
									v-else
									type="text"
									name="bluestreak"
									placeholder="Streak must be non-0 number"
									aria-label="Number"
									id="blue-streak-input"
									v-model="bFighter['streak']"
									aria-invalid="true"
								/>
								<input
									v-if="!blueOddsError"
									type="text"
									name="text"
									placeholder="Blue Odds"
									id="blue-odds-input"
									aria-label="Text"
									v-model="bFighter['odds']"
								/>
								<input
									v-else
									type="text"
									name="text"
									placeholder="Enter valid American betting odds"
									id="blue-odds-input"
									aria-label="Text"
									v-model="bFighter['odds']"
									aria-invalid="true"
								/>
							</fieldset>
						</form>
					</div>
					<div
						class="container"
						id="red-side"
						:style="{
        						'border-style': redWin ? 'solid' : 'none',
        						'border-color': redWin ? 'gold' : 'red'
    							}"
					>
						<div id="red-top-part" class="top-part">
							<img
								src="./imgs/red-boxer.png"
								id="red-boxer-img"
								:style="{
        						'transform': blueWin ? 'rotate(0.25turn) scaleX(-1)' : 'rotate(0) scaleX(-1)',
    							}"
							/>
							<input
								v-if="!redNameError"
								type="text"
								name="text"
								placeholder="Red Fighter Name"
								aria-label="Text"
								id="red-fighter-name-input"
								v-model="rFighter['name']"
							/>
							<input
								v-else
								type="text"
								name="text"
								aria-label="Text"
								placeholder="Invalid name. Enter a non number string"
								id="red-fighter-name-input"
								aria-invalid="true"
								v-model="rFighter['name']"
							/>
						</div>
						<div id="red-img-container">
							<div
								v-if="isState('Predict') || isState('DonePredict') || isState('isPredicting') "
								:style="{
        						'background-image': redWin ? 'linear-gradient(gold, black)' : 'linear-gradient(red, black)'
    							}"
								class="red-image-div"
							>
								<img
									v-bind:src="rFighter.image_link"
									v-if="isState('Predict') || isState('DonePredict') || isState('isPredicting') "
									id="red-image"
								/>
							</div>
						</div>
						<form id="red-record">
							<label for="redwins" class="predict-label" />Wins: Losses:
							<fieldset role="group">
								<input
									v-if="!redWinsError"
									type="text"
									name="redwins"
									placeholder="Wins"
									aria-label="Number"
									v-model="rFighter['wins']"
								/>
								<input
									v-else
									type="text"
									name="redwins"
									placeholder="Wins must be non-negative whole number"
									aria-label="Number"
									v-model="rFighter['wins']"
									aria-invalid="true"
								/>
								<input
									v-if="!redLossesError"
									type="text"
									name="text"
									placeholder="Losses"
									aria-label="Text"
									v-model="rFighter['losses']"
								/>
								<input
									v-else
									type="text"
									name="text"
									placeholder="Losses must be non-negative whole number"
									aria-label="Text"
									v-model="rFighter['losses']"
									aria-invalid="true"
								/>
							</fieldset>
						</form>
						<label
							for="redheight"
							class="predict-label"
							id="height"
						/>Height(cm): Reach(cm):
						<form id="red-height-reach">
							<fieldset role="group">
								<input
									v-if="!redHeightError"
									type="text"
									name="redheight"
									placeholder="Height(cm)"
									aria-label="Number"
									v-model="rFighter['height']"
								/>
								<input
									v-else
									type="text"
									name="redheight"
									placeholder="Height can not be empty or less than 0"
									aria-label="Number"
									aria-invalid="true"
									v-model="rFighter['height']"
								/>
								<input
									v-if="!redReachError"
									type="text"
									name="text"
									placeholder="Reach(cm)"
									aria-label="Text"
									v-model="rFighter['reach']"
								/>
								<input
									v-else
									type="text"
									name="text"
									placeholder="Reach can not be empty or less than 0"
									aria-label="Text"
									aria-invalid="true"
									v-model="rFighter['reach']"
								/>
								<!-- </div> -->
							</fieldset>
						</form>
						<form>
							<label for="redstreak" class="inner-labels" id="odds" />Streak:
							Odds:
							<fieldset role="group" id="red-streak-odds">
								<input
									v-if="!redStreakError"
									type="text"
									name="redstreak"
									placeholder="Streak"
									aria-label="Number"
									id="red-streak-input"
									v-model="rFighter['streak']"
								/>
								<input
									v-else
									type="text"
									name="redstreak"
									placeholder="Streak must be non-0 number"
									aria-label="Number"
									id="red-streak-input"
									v-model="rFighter['streak']"
									aria-invalid="true"
								/>
								<input
									type="text"
									v-if="!redOddsError"
									name="redodds"
									placeholder="Red Odds"
									id="red-odds-input"
									aria-label="Number"
									v-model="rFighter['odds']"
								/>
								<input
									type="text"
									v-else
									name="redodds"
									placeholder="Enter valid American betting odds"
									id="red-odds-input"
									aria-label="Number"
									aria-invalid="true"
									v-model="rFighter['odds']"
								/>
							</fieldset>
						</form>
					</div>
					<!-- end of fighter-inputs div below -->
				</div>
				<div id="button-container">
					<ul class="ul-no-style">
						<li>
							<button
								class="contrast"
								id="predict-button"
								v-on:click="predictButtonClickHandler"
								v-if="isState('Predict')"
							>
								Predict
							</button>
							<button
								class="contrast"
								id="predict-button"
								v-on:click="predictButtonClickHandler"
								v-if="isState('isPredicting')"
								aria-label="Please wait…"
								aria-busy="true"
								disabled
							>
								Predict
							</button>
							<button
								class="contrast"
								id="predict-button"
								v-on:click="predictButtonClickHandler"
								v-if="isState('DonePredict')"
								disabled
							>
								Predict
							</button>
						</li>
						<li>
							<button
								class="contrast"
								id="save-button"
								v-if="!isState('DonePredict')"
								disabled
							>
								Save Fight
							</button>
							<button
								class="contrast"
								id="save-button"
								v-on:click="saveButtonClickHandler"
								v-if="isState('DonePredict')"
							>
								Save Fight
							</button>
						</li>
					</ul>
				</div>
			</div>
			<dialog id="help-modal">
				<article>
					<header>
						<div
							aria-label="Close"
							rel="prev"
							id="modal-close"
							onclick="document.getElementById('help-modal').close();"
						>
							X
						</div>
						<p>
							<strong>Welcome to the Ultimate Fight Predictor!</strong>
						</p>
					</header>
					<p>
						Use the power of Machine Learning to help you bet on UFC Fights. The
						main features are:
					</p>
					<ul>
						<li>
							Predicting UFC fight outcomes by inputing the information asked
							for
						</li>
						<li>
							Logging the history of predictions and measuring the success of
							the model
						</li>
					</ul>
				</article>
			</dialog>
			<div id="history">
				<div class="center-top-history">
					<h2 id="history-header">Prediction History</h2>
				</div>
				<div class="center-top-history">
					<a
							:href="csvLink"
						type="text/csv"
						download="data.csv"
					>
						<button class="contrast" id="export-button">Export to CSV</button>
					</a>
				</div>
				<div class="center-top-history">
					<button
						v-if="!isEditing"
						class="contrast"
						id="edit-button"
						v-on:click="editDataButtonClickHandler"
					>
						Edit Data
					</button>
					<button
						v-else
						class="contrast"
						id="edit-button"
						v-on:click="saveDataButtonClickHandler"
					>
						Save Data
					</button>
				</div>
				<div id="table-center">
					<table id="history-table">
						<thead>
							<tr>
								<td v-if="isEditing"></td>
								<th scope="col">R_fighter</th>
								<th scope="col">B_fighter</th>
								<th scope="col">R_odds</th>
								<th scope="col">B_odds</th>
								<th scope="col">R_wins</th>
								<th scope="col">B_wins</th>
								<th scope="col" v-if="!isEditing">loss_streak_dif</th>
								<th scope="col" v-if="!isEditing">win_streak_dif</th>
								<th scope="col" v-if="!isEditing">age_dif</th>
								<th scope="col" v-if="!isEditing">height_dif</th>
								<th scope="col" v-if="!isEditing">reach_dif</th>
								<th scope="col">winner</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="fight in fights">
								<td
									v-if="isEditing"
									v-on:click="delDataButtonClickHandler(fight)"
								>
									<i class="fa fa-trash-o"></i>
								</td>
								<th scope="row">{{fight.red_name}}</th>
								<td>{{fight.blue_name}}</td>
								<td>{{fight.red_odds}}</td>
								<td>{{fight.blue_odds}}</td>
								<td>{{fight.red_wins}}</td>
								<td>{{fight.blue_wins}}</td>
								<td v-if="!isEditing">{{fight.loss_streak_dif}}</td>
								<td v-if="!isEditing">{{fight.win_streak_dif}}</td>
								<td v-if="!isEditing">{{fight.age_dif}}</td>
								<td v-if="!isEditing">{{fight.height_dif}}</td>
								<td v-if="!isEditing">{{fight.reach_dif}}</td>
								<td v-if="!isEditing">{{fight.winner}}</td>
								<td v-else>
									<select
										aria-label="Fight winner color"
										required
										v-model="fight.new_label"
										v-on:change="changeLabel(fight)"
									>
										<option selected disabled value="">Fight Winner</option>
										<option value="Red">Red</option>
										<option value="Blue">Blue</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="app.js"></script>
	</body>
</html>
