:root {
	--blue-side-color: rgba(27, 80, 224, 0.7);
	--red-side-color: rgba(227, 0, 34, 0.7);
}

nav {
	margin-top: 2.5rem;
	margin-bottom: 3.5rem;
	font-size: 2.1rem;
}

#nav-ul li {
	margin-left: 200px;
}

#blue-side {
	background-color: var(--blue-side-color);
	padding: 10px;
	border-radius: 14px;
}

#red-side {
	background-color: var(--red-side-color);
	padding: 10px;
	border-radius: 14px;
}

#button-container {
	margin-top: 100px;
	/* padding-top: 3rem; */

	display: flex;
	justify-content: center;
	/* text-align: center; */
}

.ul-no-style li {
	list-style: none;
	margin-bottom: 3rem;
	display: inline-block;
	margin-left: 1rem;
}

.help-me-circle {
	background-color: var(--red-side-color);
	border-radius: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: 0;
	border: none;
}

#modal-close {
	margin-left: auto;
	margin-right: 0;
	text-align: right;
	width: fit-content;
	height: fit-content;
}

#modal-close:hover {
	cursor: pointer;
}

#red-boxer-img {
	transform: scaleX(-1);
}

#blue-boxer-img {
	margin-left: 0.5rem;
}

#red-fighter-link-input,
#blue-fighter-link-input,
#red-fighter-name-input,
#blue-fighter-name-input {
	margin-top: 30px;
	width: 100%;
}

#history {
	margin-top: 14rem;
	margin-right: 2rem;
}

#table-center {
	display: flex;
	justify-content: center;
}

#history-header {
	text-align: center;
	margin-bottom: 3rem;
}

#history table tbody tr th {
	text-align: center;
}

td,
th {
	text-align: center;
}

.grid #blue-top-part {
	margin-top: 20px;
	grid-template-columns: 1fr auto;
	grid-gap: 10px;
}

.grid #red-top-part {
	margin-top: 20px;
	grid-template-columns: 1fr, auto;
	grid-gap: 10px;
}

.top-part {
	display: grid;
	grid-template-columns: auto 1fr;
}

[v-cloak] {
	display: none;
}

#blue-image,
#red-image {
	height: 261px;
	width: 261px;
	border-radius: 0.25rem;
	object-fit: cover;
	object-position: top;
}

.blue-image-div,
.red-image-div,
.winner-image-div {
	justify-content: center;
	display: flex;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 0.25rem;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 300px;
}

#blue-img-container,
#red-img-container {
	justify-content: center;
	display: flex;
}

.bundle {
	display: grid;
	grid-template-columns: 1fr, 1fr;
}

.predict-label {
	text-align: center;
	word-spacing: 300px;
	margin-top: 20px;
}

.predict-label #height {
	word-spacing: 225px;
}

.predict-label #odds {
	word-spacing: 245px;
}

#export-button {
	margin-bottom: 40px;
}
#edit-button {
	margin-bottom: 60px;
}

#center-other-junk {
	margin-top: 60px;
	display: flex;
	justify-content: left;
}

.center-top-history {
	display: flex;
	justify-content: center;
}

